
*, *:before, *:after {
  box-sizing: inherit;
}
li {
  display: inline;
}

html {
  box-sizing: border-box;
}

strong {
  text-transform: uppercase;
}

header {
	border-bottom: 2px solid #ebebeb;
}

button {
	border: none;
}

body {
  background-color: #f7f7f7;
  margin: 0;
	font-family: 'Helvetica';
  color: #707070;
}

.title {
  font-size: 1.5em;
	font-weight: 700;
	font-style: italic;
  color: #707070;
}


::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
	background: #27c383; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #27c383; 
}
